# Basic

In [79]:
2+3

5

In [80]:
def funct():
    a=10
    b=5
    if a>b:
        return True
    else:
        return False

In [81]:
funct()

True

In [82]:
a = "BBCD"
if a[0] == a[1]:
    print("YES")
else:
    print("NO")

YES

In [83]:
a = """Hello
there"""
a

'Hello\nthere'

In [84]:
a,b,c = 1,2.3,"Hello"
print(a)
print(b)
print(c)

1
2.3
Hello

In [85]:
del a #deletes a

###### Python has five standard data types −
* Numbers<br>
* String<br>
* List
* Tuple
* Dictionary

##### Python supports four different numerical types −
* *int* (signed integers)<br>
* **long** (*long integers, they can also be represented in octal and hexadecimal*)<br>
* float (floating point real values)<br>
* complex (complex numbers)<br>

# Strings

In [8]:
a = "Hello"
a

'Hello'

In [9]:
type(a)

str

In [10]:
a[2:5]

'llo'

In [11]:
a[:4]

'Hell'

In [12]:
b = "Hello, World!"
print(b[-5:-1])

orld

In [13]:
a + " there"

'Hello there'

In [14]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [15]:
a = "Prem Ranjan"
print(len(a))

11

In [16]:
string = "I am not free"
print("free" in string)

True

In [17]:
print("free" not in string)

False

In [18]:
c="Hello World!"
c.upper()

'HELLO WORLD!'

In [19]:
c.lower()

'hello world!'

In [20]:
a="Prem   "
a

'Prem   '

In [21]:
a.strip()

'Prem'

In [22]:
a = "HOLO HOLO HOLO"
a.replace('H','S')

'SOLO SOLO SOLO'

In [23]:
a.split(' ')

['HOLO', 'HOLO', 'HOLO']

In [24]:
a = "HOLO HOLO HOLO"
b,c,d = a.split(' ')

In [25]:
print(b)

HOLO

In [26]:
print(c)

HOLO

In [27]:
print(d)

HOLO

In [28]:
a = "Hello"
b = "World"
c=a+b
print(c)

HelloWorld

In [29]:
c = a + " " + b
print(c)

Hello World

In [30]:
age = 24
txt = "My age is " + str(age)
print(txt)

My age is 24

In [31]:
age = 24
txt = "My age is {}"
print(txt.format(age))

My age is 24

In [32]:
salary =20000
age = 24
Address =13
txt = "My age is {} and salary is {} and Hno is {}"
print(txt.format(age,salary,Address))

My age is 24 and salary is 20000 and Hno is 13

In [33]:
a = "We are a \"team\""
a

'We are a "team"'

**Escape Characters**<br>
* Single Quote \'
* Backslash \\
* New Line \n
* Carriage Return \r
* Tab \t
* Backspace \b
* Form Feed \f
* Octal value \ooo
* Hex value \xhh

### ***String Methods***

https://www.w3schools.com/python/python_strings_methods.asp

capitalize()   Converts the first character to upper case
casefold()	   Converts string into lower case
center()	   Returns a centered string
count()	       Returns the number of times a specified value occurs in a string
encode()	   Returns an encoded version of the string
endswith()	   Returns true if the string ends with the specified value
expandtabs()   Sets the tab size of the string
find()	       Searches the string for a specified value and returns the position of where it was found
format()	   Formats specified values in a string
format_map()   Formats specified values in a string
index()	       Searches the string for a specified value and returns the position of where it was found
isalnum()	   Returns True if all characters in the string are alphanumeric
isalpha()	   Returns True if all characters in the string are in the alphabet
isdecimal()    Returns True if all characters in the string are decimals
isdigit()	   Returns True if all characters in the string are digits
isidentifier() Returns True if the string is an identifier
islower()	   Returns True if all characters in the string are lower case
isnumeric()	   Returns True if all characters in the string are numeric
isprintable()  Returns True if all characters in the string are printable
isspace()	   Returns True if all characters in the string are whitespaces
istitle()	   Returns True if the string follows the rules of a title
isupper()	   Returns True if all characters in the string are upper case
join()	       Joins the elements of an iterable to the end of the string
ljust() 	   Returns a left justified version of the string
lower()	       Converts a string into lower case
lstrip()	   Returns a left trim version of the string
maketrans()	   Returns a translation table to be used in translations
partition()	   Returns a tuple where the string is parted into three parts
replace()	   Returns a string where a specified value is replaced with a specified value
rfind()	       Searches the string for a specified value and returns the last position of where it was found
rindex()	   Searches the string for a specified value and returns the last position of where it was found
rjust()	       Returns a right justified version of the string
rpartition()   Returns a tuple where the string is parted into three parts
rsplit()	   Splits the string at the specified separator, and returns a list
rstrip()	   Returns a right trim version of the string
split()	       Splits the string at the specified separator, and returns a 
splitlines()   Splits the string at line breaks and returns a list
startswith()   Returns true if the string starts with the specified value
strip()	       Returns a trimmed version of the string
swapcase()	   Swaps cases, lower case becomes upper case and vice versa
title()	       Converts the first character of each word to upper case
translate()	   Returns a translated string
upper()	       Converts a string into upper case
zfill()	       Fills the string with a specified number of 0 values at the beginning

In [34]:
a="Hello there I am Prem Ranjan Pattanayak"
b=a.center(110,'*')
print(b)

***********************************Hello there I am Prem Ranjan Pattanayak************************************

In [35]:
a="Sam is there, Sam is here, Sam is everywhere!"
b=a.count("Sam")
print(b)

3

In [36]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [37]:
txt.endswith('e')

True

In [38]:
a="He\tllo"
a.expandtabs()

'He      llo'

In [39]:
a="Hello there I am Prem Ranjan Pattanayak"
a.find('an')

23

In [40]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1,txt2,txt3)

My name is John, I'm 36 My name is John, I'm 36 My name is John, I'm 36

In [41]:
txt1 = "My name is {:<}, I'm {:_}"
print(txt1.format('John',3600000000))

#https://www.w3schools.com/python/ref_string_format.asp for more format

My name is John, I'm 3_600_000_000

In [42]:
a="Mydemo"
a.isidentifier()

True

In [43]:
a = "I love bananas and apple both."
b = a.partition('bananas')
b

('I love ', 'bananas', ' and apple both.')

In [44]:
a = "You were there and They were finding you" 
b = a.find('were')
c = a.rfind('were')  #last occurence
print(b,c)

4 24

In [45]:
a.swapcase()

'yOU WERE THERE AND tHEY WERE FINDING YOU'

In [46]:
a.title()

'You Were There And They Were Finding You'

In [5]:
x=3
x & 7

3

In [6]:
x|4

7

In [7]:
x^6

5

In [8]:
x>>2

0

In [9]:
x>>1

1

In [15]:
x=1
x<<3

8

In [16]:
a = 3 
b = 4
print(a>2 and b>3)

True

In [17]:
print(a==3 or b==2)

True

In [18]:
print(not(a==5))

True

In [19]:
a = b = 3
a is b

True

In [20]:
a is not b

False

In [23]:
a = ['Prem','Rakesh','Suresh']
b='Prem'
b in a

True

In [24]:
'Lipun' not in a

True

In [25]:
x=3
~x

-4

In [29]:
print("{0:b}".format(-4))

-100

# Python Collections (Arrays)
There are four collection data types in the Python programming language:<br>

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered* and changeable. No duplicate members.

# List
List items are ordered, changeable, and allow duplicate values.

In [1]:
a = ["Prem" , "Apple" , "Suresh" , "Apple"]
a

['Prem', 'Apple', 'Suresh', 'Apple']

In [4]:
print(len(a))

4

In [5]:
list1 = [1,2,3,4]
list2 = [True , False, True]
list3 = [1, True, "Prem"]

In [8]:
ls = list((12,13,14))
ls

[12, 13, 14]

In [2]:
a[0]

'Prem'

In [3]:
a[-1]

'Apple'

In [9]:
a[1:]

['Apple', 'Suresh', 'Apple']

In [23]:
a = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
a[2:5]

['cherry', 'orange', 'kiwi']

In [24]:
a[:4]

['apple', 'banana', 'cherry', 'orange']

In [25]:
a[-4:-1]

['orange', 'kiwi', 'melon']

In [26]:
"apple" in a

True

In [27]:
a

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [28]:
a[1] = "Prem"
a

['apple', 'Prem', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [29]:
a[2:4] = ["watermelon" , "banana"]
a

['apple', 'Prem', 'watermelon', 'banana', 'kiwi', 'melon', 'mango']

In [30]:
a[3:4] = ["Suresh" , "melon"]
a

['apple', 'Prem', 'watermelon', 'Suresh', 'melon', 'kiwi', 'melon', 'mango']

In [31]:
a[1:3] = ["mango"]
a

['apple', 'mango', 'Suresh', 'melon', 'kiwi', 'melon', 'mango']

In [32]:
a.insert(2, "Lipun")
a

['apple', 'mango', 'Lipun', 'Suresh', 'melon', 'kiwi', 'melon', 'mango']

In [42]:
list1 = ["apple" , "banana" , "cherry"]
list1

['apple', 'banana', 'cherry']

In [43]:
list1.append("melon")
list1

['apple', 'banana', 'cherry', 'melon']

In [44]:
list1.insert(1,"watermelon")
list1

['apple', 'watermelon', 'banana', 'cherry', 'melon']

In [45]:
list2 = ["papaya" , "mango"]
list1.extend(list2)
list1

['apple', 'watermelon', 'banana', 'cherry', 'melon', 'papaya', 'mango']

In [46]:
list2 = ("Prem" , "Suresh")
list1.extend(list2)
list1

['apple',
 'watermelon',
 'banana',
 'cherry',
 'melon',
 'papaya',
 'mango',
 'Prem',
 'Suresh']

In [47]:
thislist = ["Prem" , "Suresh" , "Lipun"]
thislist.remove("Suresh")
thislist

['Prem', 'Lipun']

In [48]:
thislist.pop(1)
thislist

['Prem']

In [49]:
thislist = ["Prem" , "Suresh" , "Lipun"]
thislist.pop()

'Lipun'

In [50]:
thislist

['Prem', 'Suresh']

In [51]:
del thislist[0]
thislist

['Suresh']

In [52]:
thislist = ["Prem" , "Suresh" , "Lipun"]
del thislist
# Now print(thislist) will show error

In [55]:
thislist = ["Prem" , "Suresh" , "Lipun"]
thislist.clear()  #cleans list
thislist

[]

In [56]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [58]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [59]:
i = 0
while i < len(thislist):
    print(thislist[i])
    i+=1

apple
banana
cherry

In [61]:
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [63]:
thislist = ["apple", "banana", "cherry"]
list1 = [x for x in thislist if x!="apple"]
list1

['banana', 'cherry']

In [64]:
[x.upper() for x in thislist]

['APPLE', 'BANANA', 'CHERRY']

## Doubt
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

o/p => ['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [73]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [74]:
thislist.sort(reverse=True)
thislist

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [75]:
thislist = [12,4,131,2,12,43,5]
thislist.sort()
thislist

[2, 4, 5, 12, 12, 43, 131]

In [76]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [77]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [78]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [79]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [1]:
thislist = ["Prem" , "Rakesh" , "Megha"]
list2 = thislist.copy()
list2

['Prem', 'Rakesh', 'Megha']

In [4]:
list3 = thislist
list3

['Prem', 'Rakesh', 'Megha']

In [5]:
list3[1] = "Melon"
thislist

['Prem', 'Melon', 'Megha']

In [6]:
list1 = ["Prem" , "Suresh" , "Ramesh"]
list4 = list(list1)
list4

['Prem', 'Suresh', 'Ramesh']

In [8]:
list1 = ["a" ,"b" , "c"]
list2 = [1, 2, 3]
list1 = list1+list2
list1

['a', 'b', 'c', 1, 2, 3]

In [9]:
list1 = ["a" ,"b" , "c"]
list2 = [4, 5, 6]
for x in list2:
    list1.append(x)
list1

['a', 'b', 'c', 4, 5, 6]

In [10]:
list1 = ["a" ,"b" , "c"]
list2 = [7, 8, 9]
list1.extend(list2)
list1

['a', 'b', 'c', 7, 8, 9]

## List Methods
* **append()**	 =>  Adds an element at the end of the list
* **clear()**	 =>  Removes all the elements from the list
* **copy()**	=>   Returns a copy of the list
* **count()**	 =>  Returns the number of elements with the specified value
* **extend()**	 =>  Add the elements of a list (or any iterable), to the end of the current list
* **index()**	=>   Returns the index of the first element with the specified value
* **insert()**	=>   Adds an element at the specified position
* **pop()**	    =>   Removes the element at the specified position
* **remove()**   =>  Removes the item with the specified value
* **reverse()**	 =>  Reverses the order of the list
* **sort()**	=>   Sorts the list

# Tuples

Tuple items are **ordered, unchangeable, and allow duplicate values**.

In [11]:
tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [3]:
len(tuple1)

5

In [7]:
tuple2 = ("Prem")
print(type(tuple2))

<class 'str'>

In [6]:
tuple2 = ("Prem",)
print(type(tuple2))

<class 'tuple'>

In [9]:
tuple3 = ("Prem" , "Ramesh" , 12 , True , "Prem")
print(type(tuple3))

<class 'tuple'>

In [10]:
tuple4 = tuple((1,2,3,4,5))
print(type(tuple4))

<class 'tuple'>

In [12]:
tuple4[1]

2

In [13]:
tuple4[2:4]

(3, 4)

In [15]:
tuple4[2:]

(3, 4, 5)

In [17]:
tuple4[-1]

5

In [18]:
tuple4[-4:-2]

(2, 3)

In [22]:
tuple5 = ("apple", "banana", "cherry")
if "apple" in tuple5:
    print("Yes")
else:
    print("No")

Yes

## Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.<br>

But there is a workaround. You can **convert the tuple into a list, change the list, and convert the list back into a tuple**.

In [27]:
#changing values
tuple1 = ("apple", "banana", "cherry")
y = list(tuple1)
y[1] = "kiwi"
tuple1 = tuple(y)
tuple1

('apple', 'kiwi', 'cherry')

In [29]:
#appending values
tuple1 = ("apple", "banana", "cherry")
y = list(tuple1)
y.append("orange")
tuple1 = tuple(y)
tuple1

('apple', 'banana', 'cherry', 'orange')

In [30]:
#removing element
y = list(tuple1)
y.remove("banana")
tuple1 = tuple(y)
tuple1

('apple', 'cherry', 'orange')

In [32]:
tuple1 = ("apple", "banana", "cherry")
del tuple1

In [33]:
#unpacking tuple
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [34]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [35]:
tuple1 = ("apple", "mango", "papaya", "pineapple", "cherry")
for x in tuple1:
    print(x)

apple
mango
papaya
pineapple
cherry

In [36]:
for i in range(len(tuple1)):
    print(tuple1[i])

apple
mango
papaya
pineapple
cherry

In [37]:
i=0
while i < len(tuple1):
    print(tuple1[i])
    i+=1

apple
mango
papaya
pineapple
cherry

In [44]:
tup1 = (1,2,3,4,5)
tup2 = ("apple" , "melon" , "papaya")
tup3 = tup1 + tup2
tup3

(1, 2, 3, 4, 5, 'apple', 'melon', 'papaya')

In [45]:
tup4 = tup3 * 2
tup4

(1,
 2,
 3,
 4,
 5,
 'apple',
 'melon',
 'papaya',
 1,
 2,
 3,
 4,
 5,
 'apple',
 'melon',
 'papaya')

In [48]:
tuple3

('Prem', 'Ramesh', 12, True, 'Prem')

In [47]:
tuple3.count("Prem")

2

In [49]:
tuple3.index(12)

2

# Sets
Set items are **unordered, unchangeable, and do not allow duplicate values**.

In [1]:
a = {"prem" , "apple" , "mayonnaise"}
a

{'apple', 'mayonnaise', 'prem'}

In [2]:
print(type(a))

<class 'set'>

In [5]:
b = {21, 3, 21, 3}
type(b)

set

In [6]:
b

{3, 21}

In [7]:
print(len(a))

3

In [8]:
set1 = {"abc", 34, True, 40, "male"}
set1

{34, 40, True, 'abc', 'male'}

In [9]:
a = set((12, 3, 45, 6))
a

{3, 6, 12, 45}

In [10]:
for x in a:
    print(x)

3
12
45
6

In [11]:
12 in a

True

In [12]:
#cannot change element but can add
a.add(14)
a

{3, 6, 12, 14, 45}

In [15]:
#update can add any iterable to set
b = {60, 21}
a.update(b)
a

{3, 6, 12, 14, 21, 45, 60}

In [16]:
b = [13, 70, 99]
a.update(b)
a

{3, 6, 12, 13, 14, 21, 45, 60, 70, 99}

In [17]:
#if item does not exist=> raise an error
a.remove(6)
a

{3, 12, 13, 14, 21, 45, 60, 70, 99}

In [18]:
a.discard(21)
a

{3, 12, 13, 14, 45, 60, 70, 99}

In [19]:
a.pop()

3

In [20]:
a

{12, 13, 14, 45, 60, 70, 99}

In [21]:
a.clear()
a

set()

In [22]:
del a

In [23]:
#We cannot print sets using iterable because they are unordered
a = {"apple", "banana", "cherry"}
for x in a:
    print(x)

apple
cherry
banana

### Set Operation
* Union
* Intersection
* Symmetric Difference

In [32]:
set1 = {"a" , "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)  #return union of both
set3

{1, 2, 3, 'a', 'b', 'c'}

In [30]:
#update will copy one set element to another
set1.update(set2)
set1

{1, 2, 3, 'a', 'b', 'c'}

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)   #returns common item
print(z)

{'apple'}

In [35]:
set4 = {"c" , "d" , 2 , 4}
set3.intersection_update(set4)  #assign common item to set3
set3

{2, 'c'}

In [37]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)   #returns everything excluding common items
print(z)

{'microsoft', 'cherry', 'banana', 'google'}

In [38]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)  #assign everything except common items
print(x)

{'microsoft', 'cherry', 'banana', 'google'}

## Set Methods
* **add()**=>Adds an element to the set
* **clear()**=>	Removes all the elements from the set
* **copy()**=>Returns a copy of the set
* **difference()**	=>Returns a set containing the difference between two or more sets
* **difference_update()**=>	Removes the items in this set that are also included in another, specified set
* **discard()**=>	Remove the specified item
* **intersection()**=>	Returns a set, that is the intersection of two other sets
* **intersection_update()**=>	Removes the items in this set that are not present in other, specified set(s)
* **isdisjoint()**=>	Returns whether two sets have a intersection or not
* **issubset()**=>	Returns whether another set contains this set or not
* **issuperset()**	=>Returns whether this set contains another set or not
* **pop()**	=>Removes an element from the set
* **remove()**=>	Removes the specified element
* **symmetric_difference()**=>	Returns a set with the symmetric differences of two sets
* **symmetric_difference_update()**=>	inserts the symmetric differences from this set and another
* **union()**=>	Return a set containing the union of sets
* **update()**	=>Update the set with the union of this set and others

In [40]:
a.add("melon")
a

{'apple', 'banana', 'cherry', 'melon'}

In [43]:
b = {'cake'}
a.isdisjoint(b)

True

In [45]:
b = {'apple'}
b.issubset(a)  #b is subset of a

True

In [46]:
b = {'apple' , 'banana' , 'cherry' , 'melon' , 'cake'}
b.issuperset(a) #b is superset of a

True

# Dictionary
Dictionaries are used to store data values in **key:value pairs**.

A dictionary is a collection which is **ordered*, changeable and does not allow duplicates**.

In [15]:
dict1 ={
    "Prem" : "Delhi NCR",
    "Nachiket" : "Nainital",
    "Malay" : "Pithoragarh",
}
print(type(dict1))

<class 'dict'>

In [16]:
dict1

{'Prem': 'Delhi NCR', 'Nachiket': 'Nainital', 'Malay': 'Pithoragarh'}

In [18]:
len(dict1)

3

In [21]:
dict2 = {
    "Name" : "Prem",
    "ID" : 101,
    "Friends" : ["Vishal" , "Tiwari"]
}
dict2

{'Name': 'Prem', 'ID': 101, 'Friends': ['Vishal', 'Tiwari']}

In [17]:
dict1['Prem']

'Delhi NCR'

In [22]:
dict1.get("Prem")

'Delhi NCR'

In [25]:
dict1.keys()

dict_keys(['Prem', 'Nachiket', 'Malay'])

In [27]:
#add
dict1["Sanyam"] = "Rewari"
dict1.keys()

dict_keys(['Prem', 'Nachiket', 'Malay', 'Sanyam'])

In [28]:
dict1.values()

dict_values(['Delhi NCR', 'Nainital', 'Pithoragarh', 'Rewari'])

In [29]:
dict1.items()

dict_items([('Prem', 'Delhi NCR'), ('Nachiket', 'Nainital'), ('Malay', 'Pithoragarh'), ('Sanyam', 'Rewari')])

In [31]:
if "Sanyam" in dict1:
    print("Yes")

Yes

In [30]:
#change or add
dict1["Prem"] = "Delhi"
dict1.items()

dict_items([('Prem', 'Delhi'), ('Nachiket', 'Nainital'), ('Malay', 'Pithoragarh'), ('Sanyam', 'Rewari')])

In [35]:
dict1.update({"Prem": "Badarpur"})
dict1

{'Prem': 'Badarpur',
 'Nachiket': 'Nainital',
 'Malay': 'Pithoragarh',
 'Sanyam': 'Rewari'}

In [36]:
#deleting
dict1.pop("Sanyam")
dict1

{'Prem': 'Badarpur', 'Nachiket': 'Nainital', 'Malay': 'Pithoragarh'}

In [37]:
dict1.popitem()

('Malay', 'Pithoragarh')

In [38]:
dict1

{'Prem': 'Badarpur', 'Nachiket': 'Nainital'}

In [39]:
del dict1["Nachiket"]
dict1

{'Prem': 'Badarpur'}

In [40]:
dict1.clear()
dict1

{}

In [43]:
#del dict1

In [46]:
dict1 ={
    "Prem" : "Delhi NCR",
    "Nachiket" : "Nainital",
    "Malay" : "Pithoragarh"
}
dict1

{'Prem': 'Delhi NCR', 'Nachiket': 'Nainital', 'Malay': 'Pithoragarh'}

In [47]:
#Looping
for x in dict1:
    print(x)

Prem
Nachiket
Malay

In [49]:
for x in dict1:
    print(dict1[x])

Delhi NCR
Nainital
Pithoragarh

In [50]:
for x in dict1.keys():
    print(x)

Prem
Nachiket
Malay

In [51]:
for x in dict1.values():
    print(x)

Delhi NCR
Nainital
Pithoragarh

In [53]:
for x,y in dict1.items():
    print(x + " : " + y)

Prem : Delhi NCR
Nachiket : Nainital
Malay : Pithoragarh

In [55]:
#Copying
# You cannot copy a dictionary simply by typing dict2 = dict1,
# because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

dict2 = dict(dict1)
dict2

{'Prem': 'Delhi NCR', 'Nachiket': 'Nainital', 'Malay': 'Pithoragarh'}

In [58]:
dict3 = dict1.copy()
dict3

{'Prem': 'Delhi NCR', 'Nachiket': 'Nainital', 'Malay': 'Pithoragarh'}

In [62]:
#Nested Dictionary

name3dict = {
    "name" : "Sam",
    "number" : 3
}

family = {
    "name1" : {
        "name" : "Prem",
        "number" : 1
    },
    "name2" : {
        "name" : "Vaibhav",
        "number" : 2
    },
    "name3" : name3dict
}
family

{'name1': {'name': 'Prem', 'number': 1},
 'name2': {'name': 'Vaibhav', 'number': 2},
 'name3': {'name': 'Sam', 'number': 3}}

## Dictionary Methods
* **clear()**=>	Removes all the elements from the dictionary
* **copy()**=>	Returns a copy of the dictionary
* **fromkeys()**=>	Returns a dictionary with the specified keys and value
* **get()**=>	Returns the value of the specified key
* **items()**=>	Returns a list containing a tuple for each key value pair
* **keys()**=>	Returns a list containing the dictionary's keys
* **pop()**=>	Removes the element with the specified key
* **popitem()**	=>Removes the last inserted key-value pair
* **setdefault()**=>	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
* **update()**=>	Updates the dictionary with the specified key-value pairs
* **values()**=>	Returns a list of all the values in the dictionary

In [73]:
x = ["Prem" , "Sam"]
y =  (12,13)
dict1 = dict.fromkeys(x,y)
dict1

{'Prem': (12, 13), 'Sam': (12, 13)}

In [74]:
dict1 ={
    "Prem" : "Delhi NCR",
    "Nachiket" : "Nainital",
    "Malay" : "Pithoragarh"
}
dict1

{'Prem': 'Delhi NCR', 'Nachiket': 'Nainital', 'Malay': 'Pithoragarh'}

In [75]:
dict1.setdefault("Prem","Delhi")

'Delhi NCR'

In [76]:
dict1

{'Prem': 'Delhi NCR', 'Nachiket': 'Nainital', 'Malay': 'Pithoragarh'}

In [77]:
del dict1["Prem"]
dict1

{'Nachiket': 'Nainital', 'Malay': 'Pithoragarh'}

In [78]:
dict1.setdefault("Prem","Delhi")
dict1

{'Nachiket': 'Nainital', 'Malay': 'Pithoragarh', 'Prem': 'Delhi'}