## Iterables

Strings, Lists, tuples, dictionaries, and sets are all iterable objects.

In [5]:
mytuple = (1,2,3,4)
it = iter(mytuple)

print(it)
print(next(it))
print(next(it))
print(next(it))
print(next(it))

<tuple_iterator object at 0x00000113A3E4D3D0>
1
2
3
4

In [6]:
str1 = "Banana"
it = iter(str1)

print(next(it))
print(next(it))
print(next(it))
print(next(it))

B
a
n
a

In [7]:
mylist = ["Prem" , "banana" , "apple"]
it = iter(mylist)

print(next(it))
print(next(it))
print(next(it))

Prem
banana
apple

In [11]:
#creating an iterator using class
class MyNumber:
    def __iter__(self):
        self.a=1
        return self
    
    def __next__(self):
        x = self.a
        self.a+=1
        return x

num = MyNumber()
it = iter(num)
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

1
2
3
4
5
6

In [10]:
#creating an iterator using class
class MyNumber:
    def __iter__(self):
        self.a=1
        return self
    
    def __next__(self):
        if self.a <=5:
            x = self.a
            self.a+=1
            return x
        else:
            raise StopIteration

num = MyNumber()
it = iter(num)

for i in it:
    print(i)

1
2
3
4
5

## Scope

In [15]:
#local scope
def local():
    x = 30
    print(x)
    
local()
# x   shows NameError

30

In [20]:
#local scope
def local():
    x = 30
    def innerlocal():
        print(x)
    innerlocal()
    
local()

30

In [25]:
#global scope
x = 30
def local():
    print(x)
#     x=2
#     print(x)  gives UnboundLocalError 
    

print(x)
local()

30
30

In [26]:
#global scope vs local scope
x = 30
def local():
    x =200
    print(x)
    

print(x)
local()

30
200

In [29]:
#making global variable inside func
def local():
    global x
    x =10
    print("Inside:",x)
    
local()
print("Outside",x)
x=20
print("Outside after",x)

Inside: 10
Outside 10
Outside after 20

In [30]:
x = 10
def local():
    global x
    x =20   #changing global variable
    print("Inside:",x)
    
local()
print("Outside",x)
x=10  #changing outside
print("Outside after",x)

Inside: 20
Outside 20
Outside after 10

## Datetime

In [1]:
import datetime
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [5]:
print(datetime.datetime.now())
print(datetime.MAXYEAR)
print(datetime.MINYEAR)

2021-05-05 18:47:09.002444
9999
1

In [34]:
x = datetime.datetime.now()
print(type(x))
print(x.year)
print(x.day,x.month,x.hour,x.minute,x.second,x.microsecond)
print(x.strftime("%a"), x.strftime("%A"))

<class 'datetime.datetime'>
2021
5 5 19 1 54 840582
Wed Wednesday

In [35]:
#creating date using constructor
x = datetime.datetime(2020,5,17)
print(x)

2020-05-17 00:00:00

Strftime Format

Directive	Description	                                                            Example	
%a	        Weekday, short version	                                                 Wed	
%A	        Weekday, full version	                                                 Wednesday	
%w	        Weekday as a number 0-6, 0 is Sunday	                                 3	
%d	        Day of month 01-31	                                                     31	
%b	        Month name, short version	                                             Dec	
%B	        Month name, full version	                                             December	
%m	        Month as a number  01-12	                                             12	
%y	        Year, short version, without century	                                 18	
%Y	        Year, full version	                                                     2018	
%H	        Hour 00-23	                                                             17	
%I	        Hour 00-12	                                                             05	
%p	        AM/PM	                                                                 PM	
%M	        Minute 00-59	                                                         41	
%S	        Second 00-59	                                                         08	
%f	        Microsecond 000000-999999	                                             548513	
%z	        UTC offset	                                                             +0100	
%Z	        Timezone	                                                             CST	
%j	        Day number of year 001-366	                                             365	
%U	        Week number of year, Sunday as the first day of week, 00-53	             52	
%W	        Week number of year, Monday as the first day of week, 00-53	             52	
%c	        Local version of date and time	Mon Dec 31 17:41:00                      2018	
%x	        Local version of date	                                                 12/31/18	
%X	        Local version of time	                                                 17:41:00	
%%	        A % character	                                                         %	
%G	        ISO 8601 year	                                                         2018	
%u	        ISO 8601 weekday (1-7)	                                                 1	
%V	        ISO 8601 weeknumber (01-53)	                                             01

In [36]:
from datetime import date

In [40]:
d = date(2020,12,12)
print(d)

2020-12-12

In [46]:
print(date.today())
print(date.today().year)

2021-05-05
2021

Fucntion name	                                   Description
utcnow()	                                   Return the current UTC date and time, with tzinfo None.

fromtimestamp(timestamp, tz=None)	           Return the local date and time corresponding to the POSIX timestamp.

utcfromtimestamp(timestamp)	                   Return the UTC datetime corresponding to the POSIX timestamp, with tzinfo None.

fromordinal(ordinal)	                       Return the datetime corresponding to the proleptic Gregorian ordinal, where                                                      January 1 of year 1 has ordinal 1.

combine(date, time, tzinfo=self.tzinfo)	       Return a new datetime object whose date components are equal to the given date                                                  object’s, and whose time components are equal to the given time object’s.

fromisoformat(date_string)	                   Return a datetime corresponding to a date_string in one of the formats emitted by                                                date.isoformat() and datetime.isoformat().

strptime(date_string, format)	               Return a datetime corresponding to date_string, parsed according to format.

### Timedelta

In [48]:
from datetime import timedelta

In [55]:
ini_time= datetime.datetime.now()

final_time = ini_time + timedelta(days=3, minutes = 20)

print(ini_time,"\n",final_time)

2021-05-05 20:11:20.266411
 2021-05-08 20:31:20.266411

In [56]:
timediff = final_time - ini_time
print(timediff)

3 days, 0:20:00

## Maths

In [57]:
x = min(5,7,3)
y = max(3,7,2)
print(x,y)

3 7

In [58]:
abs(-7.25)

7.25

In [59]:
pow(4,3)

64

In [61]:
import math

In [62]:
math.sqrt(64)

8.0

In [63]:
print(math.ceil(1.4))
print(math.floor(1.4))

2
1

In [64]:
print(math.pi)

3.141592653589793

### Method	Description

math.acos()       	Returns the arc cosine of a number
math.acosh()	    Returns the inverse hyperbolic cosine of a number
math.asin()	        Returns the arc sine of a number
math.asinh()	    Returns the inverse hyperbolic sine of a number
math.atan()	        Returns the arc tangent of a number in radians
math.atan2()	    Returns the arc tangent of y/x in radians
math.atanh()	    Returns the inverse hyperbolic tangent of a number
math.ceil()	        Rounds a number up to the nearest integer
math.comb()	        Returns the number of ways to choose k items from n items without repetition and order
math.copysign()	    Returns a float consisting of the value of the first parameter and the sign of the second parameter
math.cos()	        Returns the cosine of a number
math.cosh()	        Returns the hyperbolic cosine of a number
math.degrees()	    Converts an angle from radians to degrees
math.dist()	        Returns the Euclidean distance between two points (p and q), where p and q are the coordinates of that point
math.erf()	        Returns the error function of a number
math.erfc()	        Returns the complementary error function of a number
math.exp()	        Returns E raised to the power of x
math.expm1()	    Returns Ex - 1
math.fabs()	        Returns the absolute value of a number
math.factorial()	Returns the factorial of a number
math.floor()	    Rounds a number down to the nearest integer
math.fmod()	        Returns the remainder of x/y
math.frexp()	    Returns the mantissa and the exponent, of a specified number
math.fsum()	        Returns the sum of all items in any iterable (tuples, arrays, lists, etc.)
math.gamma()	    Returns the gamma function at x
math.gcd()	        Returns the greatest common divisor of two integers
math.hypot()	    Returns the Euclidean norm
math.isclose()	    Checks whether two values are close to each other, or not
math.isfinite()	    Checks whether a number is finite or not
math.isinf()	    Checks whether a number is infinite or not
math.isnan()	    Checks whether a value is NaN (not a number) or not
math.isqrt()	    Rounds a square root number downwards to the nearest integer
math.ldexp()	    Returns the inverse of math.frexp() which is x * (2**i) of the given numbers x and i
math.lgamma()	    Returns the log gamma value of x
math.log()	        Returns the natural logarithm of a number, or the logarithm of number to base
math.log10()	    Returns the base-10 logarithm of x
math.log1p()	    Returns the natural logarithm of 1+x
math.log2()	        Returns the base-2 logarithm of x
math.perm()	        Returns the number of ways to choose k items from n items with order and without repetition
math.pow()	        Returns the value of x to the power of y
math.prod()	        Returns the product of all the elements in an iterable
math.radians()	    Converts a degree value into radians
math.remainder()	Returns the closest value that can make numerator completely divisible by the denominator
math.sin()	        Returns the sine of a number
math.sinh()	        Returns the hyperbolic sine of a number
math.sqrt()	        Returns the square root of a number
math.tan()	        Returns the tangent of a number
math.tanh()	        Returns the hyperbolic tangent of a number
math.trunc()	    Returns the truncated integer parts of a number

### Constant

Constant	Description
math.e	    Returns Euler's number (2.7182...)
math.inf	Returns a floating-point positive infinity
math.nan	Returns a floating-point NaN (Not a Number) value
math.pi  	Returns PI (3.1415...)
math.tau	Returns tau (6.2831...)

## RegEx

In [66]:
import re

findall	Returns a list containing all matches
search	Returns a Match object if there is a match anywhere in the string
split	Returns a list where the string has been split at each match
sub	    Replaces one or many matches with a string

Meta-characters

[]	A set of characters	                                                        "[a-m]"	
\	Signals a special sequence (can also be used to escape special characters)	"\d"	
.	Any character (except newline character)	                                "he..o"	
^	Starts with	                                                                "^hello"	
$	Ends with	                                                                "world$"	
*	Zero or more occurrences	                                                "aix*"	
+	One or more occurrences	                                                    "aix+"	
{}	Exactly the specified number of occurrences	                                "al{2}"	
|	Either or	                                                                "falls|stays"	
()	Capture and group

Special Sequences

A special sequence is a \ followed by one of the characters in the list below, and has a special meaning:

Character	Description	Example	
\A	            Returns a match if the specified characters are at the beginning of the string	                "\AThe"	
\b	            Returns a match where the specified characters are at the beginning or at the end of a word
                (the "r" in the beginning is making sure that the string is being treated as a "raw string")   r"\bain" r"ain\b"
\B	            Returns a match where the specified characters are present, but NOT at the beginning 
                (or at the end) of a word                                                                      r"\Bain" r"ain\B"
\d	            Returns a match where the string contains digits (numbers from 0-9)	                            "\d"	
\D	            Returns a match where the string DOES NOT contain digits	                                    "\D"	
\s	            Returns a match where the string contains a white space character	                            "\s"	
\S	            Returns a match where the string DOES NOT contain a white space character	                    "\S"	
\w	            Returns a match where the string contains any word characters (characters from a to Z, 
                digits from 0-9, and theunderscore _ character)	                                                "\w"	
\W	            Returns a match where the string DOES NOT contain any word characters	                        "\W"	
\Z	            Returns a match if the specified characters are at the end of the string	                   "Spain\Z"

Sets

A set is a set of characters inside a pair of square brackets [] with a special meaning:

Set	Description	
[arn]	                  Returns a match where one of the specified characters (a, r, or n) are present	
[a-n]	                  Returns a match for any lower case character, alphabetically between a and n	
[^arn]	                  Returns a match for any character EXCEPT a, r, and n	
[0123]	                  Returns a match where any of the specified digits (0, 1, 2, or 3) are present	
[0-9]	                  Returns a match for any digit between 0 and 9	
[0-5][0-9]	              Returns a match for any two-digit numbers from 00 and 59	
[a-zA-Z]	              Returns a match for any character alphabetically between a and z, lower case OR upper case	
[+]	                      In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character                           in the string

In [70]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [71]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [72]:
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [82]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [74]:
txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [75]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [76]:
#maxsplit
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

In [79]:
#replacing
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [80]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

The Match object has properties and methods used to retrieve information about the search, and the result:

.span()     returns a tuple containing the start-, and end positions of the match.
.string     returns the string passed into the function
.group()    returns the part of the string where there was a match

In [83]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [84]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [85]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

## Try-Except-Finally

In [91]:
try:
    print(z)
except:
    print("An Exception occured!")

An Exception occured!

In [92]:
#different Exception 
try:
    print(z)
except NameError:
    print("Variable not initialized")
except:
    print("Exception occured!")

Variable not initialized

In [93]:
try:
    print("Hello")
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Hello
Nothing went wrong

In [94]:
try:
  print(z)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [99]:
try:
  f = open("demofile.txt",'a')
  f.write("Lorum Ipsum")
except:
  print("Something went wrong when writing to the file")
finally:
    print("File closed!")
    f.close()

File closed!

### Raise an Exception!

In [101]:
x = 0
if x != 0:
    print(1/x)
else:
    raise Exception("Out of range!")

Exception: Out of range!

In [108]:
x = "hello"
if not type(x) is int:
    raise print("H")   #or BaseException("H")

H

TypeError: exceptions must derive from BaseException

## String Formatting

In [111]:
price = 49
txt = "Price is Rs.{} for cans."
print(txt.format(price))

Price is Rs.49 for cans.

In [112]:
#taking user input
txt = "My name is {}"
print(txt.format(str(input())))

Prem
My name is Prem

In [113]:
#formating decimals
txt = "Price is {:.2f} dollars"
print(txt.format(1.2532))

Price is 1.25 dollars

In [119]:
#multiple values
price = 4
quantity =2
num = 911
txt = "Multiple values are : price = {},qty = {} and price = {:.2f}"
print(txt.format(price,quantity,num))

Multiple values are : price = 4,qty = 2 and price = 911.00

In [121]:
#using indexing
#multiple values
price = 4
quantity =2
num = 911
txt = "Multiple values are : price = {0},qty = {2} and price = {1:.2f}"
print(txt.format(price,quantity,num))
txt = "Multiple values are : price = {1},qty = {1} and price = {2:.2f}"   #using multiple times
print(txt.format(price,quantity,num))

Multiple values are : price = 4,qty = 911 and price = 2.00
Multiple values are : price = 2,qty = 2 and price = 911.00

In [123]:
#named index
txt = "My name is {name} {midname}"
print(txt.format(name="Prem", midname="Ranjan"))

My name is Prem Ranjan